<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ISTChat</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <!-- Vuejs import-->
    <script src="https://unpkg.com/vue"></script>

    <!-- Axios import -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Socket.io import -->
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="app">
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <strong>ASInt ISTChat</strong>
                    </li>
                    <li>
                        <a @click="toggleSite('chat')">Chat</a>
                    </li>
                    <li>
                        <a @click="toggleSite('nearby')">Nearby</a>
                    </li>
                    <li>
                        <a @click="toggleSite('settings')">Settings</a>
                    </li>
                    <li>
                        <a @click="Logout">Logout</a>
                    </li>
                </ul>

                <div class="sidebar-id">
                    <p><strong>User ID:</strong> <a style="font-size: 18px;">{{user_id}}</a></p> 
                </div>
                <div class="sidebar-location"> 
                    <strong>Location:</strong>
                    <div style="font-size: 12px; margin-top: -10px;"><strong>Lat:</strong> {{user_location[0]}}</div>
                    <div style="font-size: 12px; margin-top: -10px;"><strong>Long:</strong> {{user_location[1]}}</div>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">


                    <div v-if="!chattoggle && !settingstoggle && !nearbytoggle">
                        <h1>Welcome to IST Chat app:</h1>
                        <h3>The application is structured in the following way:</h3><br>
                        <ul>
                            <li>Click <strong>Chat</strong> if you want to send or receive message;</li><br>
                            <li>Click <strong>Nearby</strong> if you want to check who's close to you;</li><br>
                            <li>Click <strong>Setting</strong> if you want to change the application settings;</li><br>
                            <li>Click <strong>Logout</strong> if you want to exit the application.</li>
                        </ul>
                    </div>

                    <div v-if="chattoggle">
                        <!-- Section to send and check the messages -->
                        <h1>Chat application:</h1>
                        <br>
                        <input style="margin-bottom: 10px; width: 80%;" v-model=message placeholder="Insert message" @keyup.enter="sendMessage(message)"><button @click="sendMessage(message)" style="width: 20%;">Send</button>
                        
                        <br>
                        <div class="chatbox">
                            <p><strong>Messages received:</strong></p>
                                <ul v-for="msg in messages">
                                    <li>{{msg.user}} -- {{msg.data}}</li>
                                </ul>
                        </div>
                        <br>
                        <div class="chatbox">
                            <p><strong>Messages sent:</strong></p>
                            <ul v-for="msg in sentMsgs">
                                <li>{{msg}}</li>
                            </ul>
                        </div>
                        
                    </div>

                    <div v-if="settingstoggle">
                         <!-- Section to define the range -->
                        <h1>Range:</h1>
                        <p>Current range is: {{ user_range }} meters</p>
                        <input v-model=range placeholder="Range" style="width: 40%;"><button @click="setRange(range)" style="margin-bottom: 30px;">Set Range</button>
                        
                        <h1>Location:</h1>
                        <input v-model=lat placeholder="Latitude" style="width: 20%;">
                        <input v-model=long placeholder="Longitude" style="width: 20%;">
                        <button @click="manualLocation(lat, long)">Set Location</button>
                        
                    </div>

                    <div v-if="nearbytoggle">
                        <!-- Section of the nearby users-->
                        <h1>Nearby:</h1>
                        <button @click = "nearbyBuilding()" style="width: 30%;">building</button> 
                        <button @click = "nearbyRange()" style="width: 30%; margin-bottom: 10px;">range</button>
                        
                        <div v-if="rangeListOpen">
                            <h3> Users in my range: </h3>
                            <ul v-for="body in nearRange">
                            <li>{{body.ist_id}} --- {{body.name}}</li>
                            </ul>
                        </div>

                        <div v-if="buildingListOpen">
                            <h3> Users in my building: </h3>
                            <ul v-for="body in nearBuilding">
                                <li>{{body.ist_id}} --- {{body.name}}</li>
                            </ul>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
		var config = {	headers: {'Content-Type': 'application/json','Cache-Control' : 'no-cache'}};
        var socket = io(); //conecta a quem serve esta página
        socket.on('message', function (data) {
            console.log(data)
            if (data != null) {
				vm.messages.push(data);
			}
		});
		
		
        var vm = new Vue({
            el: '#app',
            data: {
                message: '',
                nearBuilding:'',
                nearRange: '',
                nearAll:'',
                user_range: '', // get default range value  // TODO
                user_id: '',
                range: null,
                lat: null,
                long: null,
                user_location : '',
                messages: [],
                sentMsgs: [],
                buildingListOpen: false,
                rangeListOpen: false,
                chattoggle: false,
                nearbytoggle: false,
                settingstoggle: false
            },

            methods: {
                // ugly function for changing which parts of the site are toggled
                toggleSite: function(toggletype) {
                    var self = this;
                    if(toggletype == "chat") {
                        self.chattoggle = true;
                        self.nearbytoggle = false;
                        self.settingstoggle = false;
                    } else if(toggletype == "user") {
                        self.chattoggle = false;
                        self.nearbytoggle = false;
                        self.settingstoggle = false;
                    } else if(toggletype == "nearby") {
                        self.chattoggle = false;
                        self.nearbytoggle = true;
                        self.settingstoggle = false;
                    } else if(toggletype == "settings") {
                        self.chattoggle = false;
                        self.nearbytoggle = false;
                        self.settingstoggle = true;
                    }
                },
                nearbyBuilding: function() {
					var self = this;
					axios.get('/user/nearby/building')
						.then(function (response) {
							self.nearBuilding =  response.data;
                            self.rangeListOpen= false;
                            self.buildingListOpen= true;
						})
						.catch(function(error) {
							console.log(error.response);

                           if(error.response.status==500){
                                alert(' Warning: '+error.response.data+', pleasy try again.');
                            }
                            else{
                                alert(' Warning: Server returned error.');
                            }
						});
				},
				nearbyRange: function() {
					let self = this;
					axios.get('/user/nearby/range', config)
						.then(function (response) {
							self.nearRange =  response.data;
                            self.buildingListOpen= false;
                            self.rangeListOpen= true;
						})
						.catch(function(error) {
							console.log(error.response);
                            if(error.response.status==500){
                                alert(' Warning: '+error.response.data+', pleasy try again.');
                            }
                            else{
                                alert('Warning: Server returned error.');
                            }
						});
				},
                setRange: function(range) {
                    // this.$data.serverDataError = false;
                    // this.$data.serverDBError = false;
                    // this.$data.serverError = false;
                    var self=this;
                    axios.post('/user/range',{
                            "range": range
                    }).then(function (response) {

                        self.$data.user_range=range;
                    })
                    .catch(function (error) {

                        console.log(error.response);

                        //por so uma mensagem de erro geral // TODO
                        if(error.response.status==400){
                            alert('Warning: Server returned error, probably due to an incorrect request.');
                        }
                        else if(error.response.status==500){
                            alert(' Warning: '+error.response.data+', pleasy try again.');
                        }
                        else{
                            alert(' Warning: Server returned error.');                
                        }
                    });  

                },

                getLocation: function(){    
                    if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(this.updateLocation);
                    } else {
                        alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
                    }
                },
				
                updateLocation: function(position) {
                    var lat = position.coords.latitude;
                    var long = position.coords.longitude;
                    this.$data.user_location=[lat,long];
                    var id = this.$data.user_id;
                    axios.post('/user/location',{
                            "coords": {
                                "latitude": lat,
                                "longitude": long
                            }
                    }).then(function (response) {
                            // console.log(response.data.redirect);
                            // window.location = response.data.redirect;
                        //console.log(response)
                    })
                    .catch(function (error) {

                        console.log(error.response);

                        if(error.response.status==500){
                            alert(' Warning: '+error.response.data+', pleasy try again.');
                        }
                        else{
                            alert(' Warning: Server returned error.');
                        }

                    });       
                },
                
                manualLocation: function (lat, long) {
					//getting the format right to updatelocation
					var position = {coords: {latitude: 0, longitude: 0,}};
					position.coords.latitude = lat;
                    position.coords.longitude = long;
					this.updateLocation(position)
				},

                Logout: function() {
					axios.get('/user/logout')
						.then(function (response) {
							if(response.status==200) {
								window.location.href = '/';
							}
						})
						.catch(function(error) {
							console.log(error.response);
                            if(error.response.status==500){
                                alert(' Warning: '+error.response.data+', pleasy try again.');
                            }
                            else{
                                alert('Warning: Server returned error.');
                            }
						});
                },

                sendMessage: function(message) {
                    socket.emit('message', message)
                    if (message != null) {
						vm.sentMsgs.push(message);
					}	
                },
                
                getUserID: async function(){
                    var self = this;
                    axios.get('/user/id', config)
                        .then(function (response) {
                            console.log(response.status)
                            self.user_id =  response.data;
                            self.getRange();
                            self.refreshLocation();
                            // console.log(self.user_id);
                        })
                        .catch(function(error) {
                            console.log(error);
                            alert(' Warning: '+error.response.data);
                        });
                },

                getRange: function(){
                    var self = this;
                    axios.get('/user/range', config)
                        .then(function (response) {
                            console.log(response.status)
                            console.log(response)
                            self.$data.user_range =  response.data.range;
                        })
                        .catch(function(error) {
                            console.log(error);
                            alert(' Warning: '+error.response.data);
                        });
                },

                refreshLocation: function(){
                    this.getLocation();

                    setInterval(function () {
                        this.getLocation();
                    }.bind(this), 300000); 
                },

                // init: function(){
                //     var self = this;
                //     this.getUserID().then(self.refreshLocation());
                // }

            },


            // //mounted? created? ready?? 
            created(){
                // this.init();
                this.getUserID();

                // this.refreshLocation());   
            }
        })
    </script>

</body>

</html>
