<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IST Chat ASInt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->    

    <!-- Vuejs import-->
    <script src="https://unpkg.com/vue"></script>

    <!-- Axios import -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Socket.io import -->
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="app">

        <h1>User Page:</h1>

        <!-- Identification-->
        <p> user: {{user_id}} </p>
        <p> location: {{user_location}} </p>

        <!-- Section to send and check the messages -->
        <h2>Messages:</h2>

        <input v-model=message placeholder="Insert message"><button @click="sendMessage(message)">Send</button>
        
        <p v-if="messages.length != 0">Messages received:</p>
        <ul v-for="msg in messages">
            <li>{{msg.user}} -- {{msg.data}}</li>
        </ul>

        <!-- Section to define the range -->
        <h2>Range:</h2>
        <p>Current range is: {{ user_range }}</p>
        <input v-model=range placeholder="Range"><button @click="setRange(range)">Set</button>

        <!-- Section of the nearby users-->
        <h2>Nearby:</h2>
        <button @click = "nearbyBuilding()">building</button>
		<button @click = "nearbyRange()">range</button>
        <ul v-for="body in nearRange">
            <li>{{body.ist_id}} --- {{body.name}}</li>
        </ul>
        <ul v-for="body in nearBuilding">
            <li>{{body.ist_id}} --- {{body.name}}</li>
        </ul>
        
        <!-- Section of the logout-->
        <h2>Logout:</h2>
        <button @click="Logout">Logout</button>

	</div>


<!-- 
      <div v-if="!serverOk">
        <strong>Warning!</strong> Server returned error, probably due to an incorrect request
        </div> -->

    <script>
		var config = {	headers: {'Content-Type': 'application/json','Cache-Control' : 'no-cache'}};
        var socket = io(); //conecta a quem serve esta página
        socket.on('message', function (data) {
            console.log(data)
            vm.messages.push(data);
		});
		
        var vm = new Vue({
            el: '#app',
            data: {
                message: '',
                nearBuilding:'',
                nearRange: '',
                nearAll:'',
                user_range: null, // get default range value  // TODO
                user_id: '',
                range: null,
                user_location : '',
                messages: []
            },

            methods: {
                nearbyBuilding: function() {
					var self = this;
					axios.get('/user/nearby/building')
						.then(function (response) {
							self.nearBuilding =  response.data;
						})
						.catch(function(error) {
							console.log(error.response);

                           if(error.response.status==500){
                                alert(' Warning: '+error.response.data+', pleasy try again.');
                            }
                            else{
                                alert(' Warning: Server returned error.');
                            }
						});
				},
				nearbyRange: function() {
					let self = this;
					axios.get('/user/nearby/range', config)
						.then(function (response) {
							self.nearRange =  response.data;
						})
						.catch(function(error) {
							console.log(error.response);
                            if(error.response.status==500){
                                alert(' Warning: '+error.response.data+', pleasy try again.');
                            }
                            else{
                                alert('Warning: Server returned error.');
                            }
						});
				},
                setRange: function(range) {
                    // this.$data.serverDataError = false;
                    // this.$data.serverDBError = false;
                    // this.$data.serverError = false;
                    var self=this;
                    axios.post('/user/range',{
                            "range": range
                    }).then(function (response) {

                        self.$data.user_range=range;
                    })
                    .catch(function (error) {

                        console.log(error.response);

                        //por so uma mensagem de erro geral // TODO
                        if(error.response.status==400){
                            alert('Warning: Server returned error, probably due to an incorrect request.');
                        }
                        else if(error.response.status==500){
                            alert(' Warning: '+error.response.data+', pleasy try again.');
                        }
                        else{
                            alert(' Warning: Server returned error.');                
                        }
                    });  

                },

                getLocation: function(){    
                    if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(this.updateLocation);
                    } else {
                        alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
                    }
                },

                updateLocation: function(position) {
                    var lat = position.coords.latitude;
                    var long = position.coords.longitude;

                    this.$data.user_location=[lat,long];
                    var id = this.$data.user_id;
                    axios.post('/user/location',{
                            "coords": {
                                "latitude": lat,
                                "longitude": long
                            }
                    }).then(function (response) {
                            // console.log(response.data.redirect);
                            // window.location = response.data.redirect;
                        //console.log(response)
                    })
                    .catch(function (error) {

                        console.log(error.response);

                        if(error.response.status==500){
                            alert(' Warning: '+error.response.data+', pleasy try again.');
                        }
                        else{
                            alert(' Warning: Server returned error.');
                        }

                    });       
                },

                Logout: function() {
					axios.get('/user/logout')
						.then(function (response) {
							if(response.status==200) {
								window.location.href = '/';
							}
						})
						.catch(function(error) {
							console.log(error.response);
                            if(error.response.status==500){
                                alert(' Warning: '+error.response.data+', pleasy try again.');
                            }
                            else{
                                alert('Warning: Server returned error.');
                            }
						});
                },

                sendMessage: function(message) {

                    socket.emit('message', message);
                },
                
                getUserID: async function(){
                    var self = this;
                    axios.get('/user/id', config)
                        .then(function (response) {
                            console.log(response.status)
                            self.user_id =  response.data;

                            self.refreshLocation();
                            // console.log(self.user_id);
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                },

                refreshLocation: function(){
                    this.getLocation();

                    setInterval(function () {
                        this.getLocation();
                    }.bind(this), 300000); 
                },

                // init: function(){
                //     var self = this;
                //     this.getUserID().then(self.refreshLocation());
                // }

            },


            // //mounted? created? ready?? 
            created(){
                // this.init();
                this.getUserID();

                // this.refreshLocation());   
            }
        })
    </script>
</body>
</html>
