<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IST Chat ASInt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->

    <!-- Vuejs import-->
    <script src="https://unpkg.com/vue"></script>

    <!-- Axios import -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>User Page:</h1>
        <p>{{message}}</p>

        <h2>Messages:</h2>
        

        <h2>Range:</h2>
        <input v-model="range" placeholder="Set Range"><button @click="setRange(range)">Set</button>

        <h2>Nearby:</h2>
        <button @click = "nearbyBuilding()">building</button>
		<button @click = "nearbyRange()">range</button>
        <ul v-for="body in nearRange">
            <li>{{body.ist_id}} --- {{body.name}}</li>
        </ul>
        <ul v-for="body in nearBuilding">
            <li>{{body.ist_id}} --- {{body.name}}</li>
        </ul>
		
        <h2>Logout:</h2>
       <!-- <button @click="logout">Logout</button> -->
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'User',
                range: null,
                nearBuilding:'',
                nearRange: '',
                nearAll:'',
                user_id: 'ist181669'
            },
            methods: {
                nearbyBuilding: function() {
					var id = this.$data.user_id;
					var self = this;
					axios.get('http://127.0.0.1:3000/user/'+id+'/nearby/building')
						.then(function (response) {
							self.nearBuilding =  response.data;
							console.log(self.nearBuilding);
						})
						.catch(function(error) {
							console.log(error);
						});
				},
				nearbyRange: function() {
					var id = this.$data.user_id;
					var self = this;
					axios.get('http://127.0.0.1:3000/user/'+id+'/nearby/range')
						.then(function (response) {
							self.nearRange =  response.data;
							console.log(self.nearRange);
						})
						.catch(function(error) {
							console.log(error);
						});
				}         
            }
        })
    </script>
</body>
</html>
